<div class="col-lg-6">
  <h1>{{title}}</h1>
  <div *ngIf="errorMessage">
    <div class="alert alert-danger">
      <strong>Error!</strong> {{errorMessage}}
    </div>
  </div>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> {{message}}  
    </div>
  </div>
  <form #editAlbumForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <label>Title:</label>
      <input type="text" #albumTitle="ngModel" name="albumTitle" [(ngModel)]="album.title" class="form-control" required>
      <span *ngIf="!albumTitle.valid && albumTitle.touched">The title is required</span>
    </p>
    <p>
      <label>Description:</label>
      <textarea type="text" #description="ngModel" name="description" [(ngModel)]="album.description" class="form-control" required></textarea>
      <span *ngIf="!description.valid && description.touched">The description is required</span>
    </p>

    <p>
      <label>Year:</label>
      <input type="number" #year="ngModel" name="year" [(ngModel)]="album.year" class="form-control" required>
      <span *ngIf="!year.valid && year.touched">The year is required</span>
    </p>

    <div class="centered-by-content">
      <div class="user-img lg-circular-img" *ngIf="album.image && album.image != 'null'">
        <img src="{{url + 'album/file/' + album.image}}">
      </div>
    </div>

    <p>
      <label>Upload a photo:</label>
      <input type="file" placeholder="Select the image" (change)="onFileChange($event)">
    </p>

    <input type="submit" value="{{title}}" [disabled]="!editAlbumForm.form.valid" class="btn btn-primary">
  </form>
</div>